/* Gray Background */
.gray {
  background-color: #eeeeee;
}

/* Logo spacing + size */
#logo {
  height: 133.28px;
  width: 117.24px;
  margin-left: 40px;
  margin-right: 40px;
}

/* Nav-item spacing */
.nav-item {
  margin-right: 25px;
  margin-left: 25px;
}

/* banner video */
#banner-video {
  position: absolute;
  right: 0;
  bottom: 0;
  width: auto;
  min-width: 100%;
  height: auto;
  min-height: 100%;
  background-size: cover;
  z-index: 1;
}

#banner-shadow {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgb(0, 0, 0, 0.5);
  z-index: 2;
}

#head-content {
  position: relative;
  z-index: 3;
}

/* Global Header Settings */
#header {
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
}

/* Settings specific for devices <= 992px */
@media (max-width: 991px) {
  #banner-shadow {
    visibility: hidden;
  }

  .navbar {
    background-color: rgba(52, 58, 64, 0.9);
  }

  #header {
    height: 500px;
    background-image: url("../media/background.png");
  }

  #banner-video {
    visibility: hidden;
  }

  #head-content {
    padding-top: 150px;
    padding-right: 30px;
    padding-left: 30px;
  }

  .col-lg-6 {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    margin-bottom: 20px;
  }

  .text-end {
    text-align: center !important;
  }
}

/* Settings specific for devices larger than 992px */
@media (min-width: 992px) {
  #header {
    height: 800px;
  }

  #head-content {
    padding-right: 300px;
    padding-left: 300px;
  }
}

/* Bootstrap Default Settings */
:root {
  --primary-color: #eba137;
  --primary-color-highlight: #d9d9d9;
  --bs-body-bg: #fbf0f6;
  --bs-body-font-family: "Poppins", sans-serif;
}

/* Social Link Styles */
.social {
  text-decoration: none;
  color: black;
}

.social:hover {
  color: #eba137;
}

/* Nav Link Design */
.nav-link:hover {
  color: #eba137;
}

.nav-link {
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  color: white;
}

/* Button animation */
.navbar button[aria-expanded="true"] > span.close {
  display: inline;
}

.navbar button[aria-expanded="true"] > span.menu {
  display: none;
}

.navbar button[aria-expanded="false"] > span.close {
  display: none;
}

/* Button Color */
.btn {
  background-color: #eba137;
}

.btn:hover {
  background: rgb(235, 161, 55, 0.7);
}

/* Make images fit within circle */
.rounded-circle {
  object-fit: cover;
  width: 200px;
  height: 300px;
}

/* Carousel Styling */
.carousel-item {
  height: 20em;
  width: 20em;
  color: white;
  position: relative;
  background-size: cover;
  background-position: center;
}

.carousel-container {
  text-align: center;
  width: 100%;
  text-shadow: 2px 2px #000;
  position: absolute;
  bottom: 0;
  padding: 35px;
}

#machine-carousel {
  width: 20em;
  border-radius: 20px;
  height: 20em;
  float: right;
}

/* Footer on bottom */
footer {
  height: 0;
}

/* Contact Us */
.contact-us {
  word-wrap: break-word;
}
